
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
    <p class="sidebar-description">{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Blog</a>

    <a class="sidebar-nav-item{% if page.title == "Über diesen Blog" %} active{% endif %}" href="/about.html">Über diesen Blog</a>

    <a class="sidebar-nav-item{% if page.title == "Personen" %} active{% endif %}" href="/persons.html">Personen</a>

    <a class="sidebar-nav-item{% if page.title == "Impressum" %} active{% endif %}" href="/z_impressum.html">Impessum</a>

  </nav>


  <div class="sidebar-item">
   <a href="http://www.ipu-berlin.de">
     <img border="0" alt="IPU-Logo" src="ipu_logo.png" width="175px">
   </a>
  </div>

  <div class="sidebar-item">
    <a href="atom.xml"> <i class="fa fa-rss" aria-hidden="true"></i></a>
  </div>

  <div class="sidebar-description sidebar-item sidebar-copyright">
    <p>
      &copy; {{ site.time | date: '%Y' }}. Alle Rechte vorbehalten.
    </p>
  </div>
</div>
